*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #ffffff;
	font-family: "Red Hat Display", serif;
}

.container {
	width: 375px;
	height: 2113px;
	border: 1px solid black;
	margin: 0 auto;
}

.first-oval {
	width: 14px;
	height: 14px;
    background: purple;
    border-radius: 50%;
}

.second-oval {
    width: 14px;
	height: 14px;
    background: cyan;
    border-radius: 50%;
}

.meet {
    font-size: 36px;
}

.img-hero {
    background: url(./assets/tablet/image-hero.png);
    width: 305px;
    height: 160px;
}